<div id="<%= dom_id bookmanage %>">
  <p>
    <strong>Student:</strong>
    <%= bookmanage.student_id %>
  </p>

  <p>
    <strong>Fullname:</strong>
    <%= bookmanage.fullname %>
  </p>

  <p>
    <strong>Class name:</strong>
    <%= bookmanage.class_name %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= bookmanage.book_id %>
  </p>

  <p>
    <strong>Book name:</strong>
    <%= bookmanage.book_name %>
  </p>

  <p>
    <strong>Author name:</strong>
    <%= bookmanage.author_name %>
  </p>

  <p>
    <strong>Source name:</strong>
    <%= bookmanage.source_name %>
  </p>

  <p>
    <strong>Bm number:</strong>
    <%= bookmanage.bm_number %>
  </p>

  <p>
    <strong>First day:</strong>
    <%= bookmanage.first_day %>
  </p>

  <p>
    <strong>Last day:</strong>
    <%= bookmanage.last_day %>
  </p>

  <p>
    <strong>Day number:</strong>
    <%= bookmanage.day_number %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= bookmanage.note %>
  </p>

</div>
